@model BeautySpaceDomain.Model.TimeSlot

@{
    ViewData["Title"] = "Видалення вікна";
}

<div>
    <h4>Видалення вікна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeService.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Назад</a>
    </form>
    <button class="btn btn-danger" onclick="confirmDelete()">Видалити</button>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete() {
            $.ajax({
                url: '/TimeSlots/CheckReservations', 
                type: 'GET',
                data: { timeSlotId: @Model.Id }, 
                success: function (hasReservations) {
                    if (hasReservations) {
                        Swal.fire({
                            title: 'Помилка',
                            text: "Не можна видалити TimeSlot якщо до нього прив'язані бронювання.",
                            icon: 'error',
                            confirmButtonColor: '#ab0c24',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        document.getElementById('deleteForm').submit();
                    }
                }
            });
        }
    </script>
}