@model BeautySpaceDomain.Model.Client

@{
    ViewData["Title"] = "Видалення клієнта";
}

<div class="content">
    <div>
        <h4>Видалення клієнта</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                Дата народження
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>

        <div class="delete-or-back">
            <form asp-action="Delete" id="deleteForm">
                <input type="hidden" asp-for="Id" />
                <a asp-action="Index">Назад</a>
            </form>
            <button class="btn btn-danger" onclick="confirmDelete()">Видалити</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete() {
            $.ajax({
                url: '/Clients/CheckReservations',
                type: 'GET',
                data: { clientId: @Model.Id },
                success: function (hasReservations) {
                    if (hasReservations) {
                        Swal.fire({
                            title: 'Помилка',
                            text: "Не можна видалити клієнта у якого є бронювання.",
                            icon: 'error',
                            confirmButtonColor: '#ab0c24',
                            confirmButtonText: 'OK'
                        })
                    } else {
                        document.getElementById('deleteForm').submit();
                    }
                }
            });
        }
    </script>
}
