@model IEnumerable<BeautySpaceDomain.Model.Client>

@{
    ViewData["Title"] = "Клієнти";
}

<h1>Список клієнтів</h1>

<table class="table">
    <thead>
        <tr>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th class="table-name">
                Дата народження
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th><a asp-action="Create">Створити нового клієнта</a> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.PhoneNumber))
                {
                    <text>(@item.PhoneNumber.Substring(3, 3)) @item.PhoneNumber.Substring(6, 3)-@item.PhoneNumber.Substring(9, 2)-@item.PhoneNumber.Substring(11)</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
