@model IEnumerable<BeautySpaceDomain.Model.Position>

@{
    ViewData["Title"] = "Посади";
}

<div class="content">
    <h1>Посади</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table-name">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <a class="btn-new" asp-action="Create">Створити нову посаду</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var orderedPositions = Model.OrderByDescending(m => m.Name == "Резерв").ThenBy(m => m.Name);
            }

            @foreach (var item in orderedPositions)
            {
                string cssClass = "table-secondary";
                if (item.Name == "Резерв")
                {
                    cssClass = item.Employees.Any() ? "table-danger" : "table-success";
                }

                <tr class="@cssClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="actions">
                            <a asp-action="Details" asp-route-id="@item.Id">Переглянути працівників</a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = @Html.Raw(Json.Serialize(errorMessage));
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
}
