@model IEnumerable<BeautySpaceDomain.Model.Reservation>

@{
    ViewData["Title"] = "Бронювання";
    DbbeautySpaceContext dbbeautySpaceContext = new DbbeautySpaceContext();
}

<h1>Створені бронювання</h1>

<table class="table">
    <thead>
        <tr>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.TimeSlot.Date)
            </th>
            <th class="table-name">
                Ім'я клієнта
            </th>
            <th class="table-name">
                Прізвище клієнта
            </th>
            <th class="table-name">
                Мобільний номер клієнта
            </th>
            <th class="table-name">
                @Html.DisplayNameFor(model => model.TimeSlot.StartTime)
            </th>
            <th class="table-name">
                Майстер
            </th>
            <th class="table-name">
                Послуга
            </th>
            <th>
                <a asp-action="Create">Створити нове бронювання</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.LastName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Client.PhoneNumber))
                    {
                        <text>(@item.Client.PhoneNumber.Substring(3, 3)) @item.Client.PhoneNumber.Substring(6, 3)-@item.Client.PhoneNumber.Substring(9, 2)-@item.Client.PhoneNumber.Substring(11)</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.StartTime)
                </td>

                <td>
                    @{
                        var employeeService = dbbeautySpaceContext.EmployeeServices.FirstOrDefault(es => es.Id == item.TimeSlot.EmployeeServiceId);
                        var employee = dbbeautySpaceContext.Employees.FirstOrDefault(e => e.Id == employeeService.EmployeeId);
                    }
                    @employee.FirstName @employee.LastName
                </td>
                <td>
                    @{
                        var service = dbbeautySpaceContext.Services.FirstOrDefault(s => s.Id == employeeService.ServiceId);
                    }
                    @service.Name
                </td>
                <td>
                    @if (Accessibility.AllExceptUser(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
